<!DOCTYPE html>

<html>

<head>
	<title>
		Simple web Development Template
	</title>
</head>

<body>

	

		

	
		<div class="box-main">
			
		 	<h1 class="text-big" id="web" >
					Welcome to Grow tree Consultation
			</h1>
            <br><h2>Excellent health care... Close to home. ...</h2>
            <br><h3>Book your slot today</h3>
			<br><a routerLink="/formregistration" mat-raised-button color="primary" >BOOK</a>
    

				

		</div>
		


	

	

	<footer class="background" >
		<p class="text-footer">
			Copyright ©-All rights are reserved
		</p>


	</footer>
</body>

</html>
